DATABASE_URI = "sqlite:///database.db"
SECRET_KEY="StartingThisAssignmentLateWasTheBiggestMistakeOfMyLife"
ENV="development"
JWT_ACCESS_TOKEN_EXPIRES=7
APP_HOST="0.0.0.0"
APP_PORT=8000
DB_POOL_SIZE=10
DB_ADDITIONAL_OVERFLOW=10
DB_POOL_TIMEOUT=10
DB_POOL_RECYCLE=10